body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #16b9b4;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile img {
    width: 100px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #96e528;
    margin: 0;
    border-radius: 10px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(12, 8, 8);
    padding: 10px;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(204, 61, 161, 0.1);
}

h2 {
    color: #333;
}




ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #007BFF;
    text-decoration: none;
}



footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
